/**
 * Styles on top of bootstrap
 */

/* Hero section */
.jumbotron {
  height: 740px;
  background: url(../images/heroBackground.jpg);
  background-position: center -80px;
}

nav {
  margin-top: 7px;
}

.jumbotron .hero-pitch {
  font-family: Georgia;
  font-size: 34px;
  color: #fff;
  letter-spacing: 1.59px;
  line-height: 38px;
  margin-top: 25px;
}

@media (max-width: 767px) {
  .jumbotron {
    height: 500px;
  }

  .jumbotron .hero-pitch {
    font-size: 22px;
    margin-top: 15px;
  }
}


/* Navbar colors */
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #6bb27f;
}
.navbar-default .navbar-text {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #6bb27f;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #6bb27f;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #6bb27f;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fff;
}
.navbar-default .navbar-link {
  color: #fff;
}
.navbar-default .navbar-link:hover {
  color: #6bb27f;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #6bb27f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #6bb27f;
    background-color: transparent;
  }
}


/* Navbar */
.navbar-brand {
  height: 90px;
}

ul.nav li a {
  height: 90px;
  padding-top: 38px;
  opacity: 0.7;
  font-family: "Source Sans Pro";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.87px;
  line-height: 18px;
}

@media (max-width: 992px) {
  .navbar-brand {
    height: inherit;
  }

  ul.nav li a {
    height: 58px;
    padding-top: 23px;
  }

  .navbar-brand img {
    height: 30px;
    width: 128px;
  }
}
/*@media (max-width: 767px) {
  .navbar-brand {
    height: inherit;
  }

  ul.nav li a {
    height: inherit;
    padding-top: inherit;
  }

  .navbar-brand img {
    height: 24px;
    width: 102px;
  }
}*/

/* CTA container */
.cta-container {
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  /*height: 200px;*/
  width: 100%;
  margin-top: 100px;
  margin-right: 50px;
  margin-bottom: 20px;
  padding-top: 35px;
  padding-right: 60px;
  padding-bottom: 0;
  padding-left: 60px;
}

.cta-progress-title {
  display: inline-block;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #6bb27f;
  line-height: 32px;
}

.cta-progress-limit {
  display: inline-block;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: bold;
  color: #AAA;
}

.progress {
  /*width: 550px;*/
  height: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  background: transparent;
  padding: 2px;
}

.progress-bar {
  /*height: 5px;*/
  background: #6bb27f;
}

.cta-donate {
  margin: 50px auto;
}

.cta-donate-text {
  display: inline-block;
  opacity: 0.89;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  line-height: 38px;
}

.btn-primary {
  background: #6bb27f;
  border: #6bb27f;
  border-radius: 0;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  line-height: 23px;
  height: 40px;
  min-width: 225px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #403341;
  -webkit-transition: .2s;
       -o-transition: .2s;
          transition: .2s;
}

@media (max-width: 767px) {
  .cta-container {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }

  .cta-donate {
    margin: 15px auto;
  }
}


/* Spaces */
.spaces-item-wrapper {
  margin: 100px auto;
}

.space-item-img-co {
  margin-bottom: 35px;
}
.space-item-img-co::before {
  content: "THE COWORKING SPACE";
  position: absolute;
  top: 206px;
  left: 50px;
  color: #fff;
  font-family: "Source Sans Pro";
  font-weight: bolder;
  font-size: 24px;
  letter-spacing: 1.5px;
  line-height: 31px;
}

.space-item-img-la {
  margin-bottom: 35px;
}
.space-item-img-la::before {
  content: "THE LAB";
  position: absolute;
  top: 206px;
  left: 140px;
  color: #fff;
  font-family: "Source Sans Pro";
  font-weight: bolder;
  font-size: 24px;
  letter-spacing: 1.5px;
  line-height: 31px;
}

.space-item-img-lo {
  margin-bottom: 35px;
}
.space-item-img-lo::before {
  content: "THE LOBBY";
  position: absolute;
  top: 206px;
  left: 120px;
  color: #fff;
  font-family: "Source Sans Pro";
  font-weight: bolder;
  font-size: 24px;
  letter-spacing: 1.5px;
  line-height: 31px;
}

.space-item-description {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-family: Georgia;
  font-size: 14px;
  color: #323232;
  letter-spacing: 0.87px;
  line-height: 23px;
}

hr {
  width: 80%;
}

@media (max-width: 1200px) {
  .spaces-item-wrapper img {
    height: 100%;
    width: 100%;
  }

  .space-item-img-co::before {
    top: 10px;
    left: 10px;
    font-size: 18px;
  }
  .space-item-img-la::before {
    top: 10px;
    left: 10px;
    font-size: 18px;
  }
  .space-item-img-lo::before {
    top: 10px;
    left: 10px;
    font-size: 18px;
  }
}


/* Specifications */
#specifications {
  padding-top: 80px;
  padding-bottom: 60px;
  background: #f2f2f2;
}

h2 {
  margin-bottom: 70px;
  font-family: "Source Sans Pro";
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  color: #6bb27f;
  letter-spacing: 1.07px;
  line-height: 38px;
}

.specifications-item img {
  display: inline-block;
  margin-top: -5px;
}

.specifications-item-title {
  display: inline-block;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 900;
  color: #6bb27f;
  line-height: 25px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
}

.specifications-item-text {
  font-family: Georgia;
  font-size: 18px;
  color: #858585;
  line-height: 24px;
  margin-bottom: 20px;
  margin-left: 40px;
}

/* Budget */
.budget-wrapper {
  background: #6bb27f;
  padding-top: 80px;
  padding-bottom: 100px;
}

.budget-title {
  font-family: "Source Sans Pro";
  font-size: 30px;
  font-weight: 900;
  color: #FFFFFF;
  letter-spacing: 1.07px;
  line-height: 38px;
}

.budget-value {
  list-style: none;
  padding-left: 0px;
}

.budget-value-title {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 31px;
  margin-bottom: 10px;
}

.budget-value-text {
  opacity: 0.69;
  font-family: Georgia;
  font-size: 22px;
  color: #FFFFFF;
  line-height: 25px;
  margin-bottom: 20px;
}

.budget-links {
  list-style: none;
  padding-left: 0px;
}

.budget-links-item {
  display: inline-block;
  margin-top: 50px;
}

.budget-links-img {
  display: inline-block;
  height: 80px;
  text-align: left;
}

.budget-links-text {
  display: inline-block;
}

.budget-links-title {
  display: inline-block;
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 23px;
}

.budget-links-desc {
  display: inline-block;
  font-family: Georgia;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 19px;
  /*float: left;*/
  /*margin-left: 60px;*/
  /*margin-top: 60px;*/
}

.budget-links-desc a {
  color: #403341;
}

a:hover,
a:focus,
a:active {
  color: #403341;
  -webkit-transition: .2s;
       -o-transition: .2s;
          transition: .2s;
}


/* Help */
h2 small {
  text-transform: none;
  opacity: 0.6;
  font-family: Georgia;
  font-size: 22px;
  color: #7cbd91;
  line-height: 25px;
}

.help-list {
  list-style: none;
  padding-left: 0;
}

h3 {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 24px;
  color: #4d4d4d;
  letter-spacing: 0.85px;
  line-height: 31px;
}

.help-list p {
  font-family: Georgia;
  font-size: 18px;
  color: #858585;
  line-height: 24px;
}

small {
  font-family: Georgia;
  font-size: 14px;
  color: #858585;
  line-height: 16px;
}

small span {
  color: #db2023;
}

h4 {
  opacity: 0.5;
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 24px;
  color: #4D4D4D;
  letter-spacing: 0.85px;
  line-height: 31px;
  margin-top: 40px;
}

.lead {
  opacity: 0.5;
  font-family: Georgia;
  font-size: 18px;
  color: #858585;
  line-height: 24px;
}

/* Perks */
#perks {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background: #e0f2e9;
}

.perks-wrapper {
  padding-right: 80px;
  padding-left: 80px;
}

.perks-title {
  margin-top: 28px;
  margin-bottom: 0;
}

.perks-item-title {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 24px;
  color: #4d4d4d;
  letter-spacing: 0.85px;
  line-height: 31px;
  margin-top: 44px;
}

.perks-item-text {
  font-family: Georgia;
  font-size: 22px;
  color: #808080;
  letter-spacing: 0.78px;
  line-height: 25px;
  margin-top: 20px;
}

/* FAQ */
#faq {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.faq-item {
  padding-right: 43px;
  padding-left: 43px;
}

.faq-item-title {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 20px;
  color: #6BB27F;
  letter-spacing: 0.71px;
  line-height: 25px;
  margin-top: 48px;
}

.faq-item-text {
  font-family: Georgia;
  font-size: 18px;
  color: #808080;
  letter-spacing: 0.64px;
  line-height: 29px;
  margin-top: 28px;
}

#faq a {
  font-family: "Source Sans Pro";
  font-weight: 700;
  color: #6BB27F;
}
